// -------------
// MAIN STYLES
// -------------

body {
	font-size: @baseFontSize;
	font-family: @baseFontFamily;
}

a {
	color: @blue;
	
	&:hover {
		text-decoration: none;
	}
}

// NAV

.navbar-inner {
	// don't forget "filter:none" if replacing the background to override bootstrap on IE. 
	.border-radius(0);
	
	ul.dropdown-menu {
		.border-radius(0);

	}
}

// -------------
// HEADINGS
// -------------

h1, h2, h3, h4, h5 {}


// Project styles

.header {}

.main {}

.footer {}
