/**
 * Global
 *
 */

html,
body {
  font-size: 18PX; // ignored by pxtorem
}

body {
  color: @base-text-color;
  font-family: @font-primary;
  font-size: 18px;
  line-height: 1.6em;
  .m-font-smoothing();
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * Misc
 *
 */

a {
  color: @color-primary;
  text-decoration: underline;

	&:focus,
	&:active,
	&:hover { color: @color-primary; }
}

img {
  max-width: 100%;
  height: auto;
}

ol {}
ul {}

p {}

blockquote {}
