/**
 * Global
 *
 */

html,
body {
  font-size: 18PX; // ignored by pxtorem
}

body {
  color: @base-text-color;
  font-family: @font-primary;
  line-height: 1.6;
  font-size: 18px;
  .m-font-smoothing();
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * Misc
 *
 */

a {
	&:focus,
	&:active,
	&:hover {}

	&:visited {}
}

ol {}
ul {}

p {}

blockquote {}
