.container.main
	.row
		.col-lg-12
			.page-header
				h1 Bonjour! 
					small with Twitter Bootstrap 3.1.1

			blockquote A bootstrapped template to kickstart front-end development.

			p 
				:markdown
					### Using [Harp.js](http://harpjs.com)

					`sudo npm install -g harp`

					`harp init bonjour`

					`harp server bonjour`
